MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=your_database_password

WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=your_database_password

WP_REDIS_HOST=redis
WP_REDIS_PORT=6379
WP_CACHE_KEY_SALT=your_cache_key

TZ=Asia/Jakarta